<h1><%= feed.escape('title') %></h1>
<br>
<button class="refresh_button">Refresh Feed!</button>

<ul>
  <% entries.each(function(entry){ %>
    <li><a href="#feeds/<%= feed.id %>/entries/<%= entry.id %>"><%= entry.escape("title") %></a></li>
  <% })%>
</ul>

<br>
<a href="#/">Back!</a>