<h1><%= entry.escape('title') %></h1>

URL:
<a href="<%= entry.escape("link") %>"><%= entry.escape("link") %></a>
<br>
Published At:
<%= entry.escape('published_at') %>
<br><br>

<a href="#/feeds/<%= entry.escape('feed_id') %>/entries">Back!</a>