<h1>Sign In</h1>

<form action="<%=session_url%>" method="post">

  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token">

<label>Username
  <input type="text" name="user[username]" value="" id="user[username]">
</label>
<br>

<label>Password
  <input type="password" name="user[password]" value="" id="user[password]">
</label>
<br>

<input type="submit" name="some_name" value="Submit" id="some_name">

</form>