<h1>Hello World</h1>
<div id='content'>

</div>

<form action="feeds" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="authenticity_token">

<label>Feed Title:
  <input type="text" name="feed[title]" value="">
</label>
<br>
<label>Feed URL:
  <input type="text" name="feed[url]" value="">
</label>
<br>

<input type="submit" value="Add Feed!">
</form>

<script>

</script>