<!DOCTYPE html>
<html>
<head>
  <title>NewReader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <p>Logged in as <%= current_user.username %></p>
    <%= button_to "Logout", session_url, method: :delete %>
  <% else %>

  <div class="errors">
    <%= flash[:errors]%>
  </div>

  <%= button_to "Sign Up", new_user_url, method: :get %>
  <%= button_to "Sign In", new_session_url, method: :get%>
  <% end %>




<%= yield %>

</body>
</html>
